{% extends 'base.html.twig' %}

{% block title%} Tasks {% endblock %}

{% block body %}

  {% if tasks %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Provider</th>
          <th>Level</th>
          <th>Estimated Duration</th>
          <th>Remote Task ID</th>
          <th>Developer</th>
        </tr>
      </thead>
      <tbody>
        {%  for task in tasks %}
          <tr>
            <td>{{ task.getProviderName() }}</td>
            <td>{{ task.getLevel() }}</td>
            <td>{{ task.getEstimatedDuration() }}</td>
            <td>{{ task.getTaskID() }}</td>
            <td><a href="developer/{{task.developerTask.getDeveloper().getID() | default ('#')}}">{{ task.developerTask.getDeveloper().getName() | default('-') }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No tasks.</p>
  {% endif %}

{% endblock %}